.card {
    opacity: 1;
    transform: translateY(0);
    transition-property: width, padding, box-shadow, opacity, transform;
    transition-duration: 200ms, 200ms, 1s;
    transition-delay: 50ms, 50ms, calc(200ms * var(--i));
    transition-timing-function: ease-in-out, ease-in-out, ease-out;

    &.highlighted {
        box-shadow: 0 0 10px 5px inset theme('colors.brand-green.DEFAULT');
    }

    @starting-style {
        opacity: 0;
        transform: translateY(10px);
    }
}

.hero {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    @starting-style {
        opacity: 0;
    }
}

.countdown {
    opacity: 1;
    transform: translateY(0);
    transition-property: opacity, transform;
    transition-duration: 1s;
    transition-delay: 200ms;
    transition-timing-function: ease-out;
    @starting-style {
        opacity: 0;
        transform: translateY(10px);
    }
}

.pick-link {
    opacity: 1;
    transform: translateY(0);
    transition-property: opacity, transform;
    transition-duration: 1s;
    transition-delay: 400ms;
    transition-timing-function: ease-out;
    @starting-style {
        opacity: 0;
        transform: translateY(10px);
    }
}