.tiebreaker {
  opacity: 1;
  transition-property: opacity, transform;
  transition-duration: 1s;
  transition-delay: 0;
  transition-timing-function: ease-out;

  @starting-style {
    opacity: 0;
  }
}
